body {
  margin: .8rem;

  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

main {
  width: 50%;
  height: 100%;
}

a {
  color: black;
}

a[target="_blank"]:after {
   content: "\2934";
}

.section {
  margin-bottom: 3.5rem;
}

.section:last-child {
  margin-bottom: 0;
}

.section-header {
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 1rem;
}

li {
  padding: .5rem 0;
  margin: 0 -1rem;
}

li:first-child {
  padding-top: 0;
}

li:last-child {
  padding-bottom: 0;
}

li header {
  text-decoration: underline;
  font-weight: 300;
}
