body {
  padding: 1rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #555;
}

main {
  width: 60%;
  height: 100%;
}

a {
  color: #E23C31;
}

a[target="_blank"]:after {
   content: "\2934";
}

.section {
  margin-bottom: 1.5rem;

  border-left: .2rem solid #E23C31;
  padding: .2rem 1rem
}

.section:last-child {
  margin-bottom: 0;
}

.section-header {
  font-weight: bold;
  color: #333;
}

ul {
  list-style: none;
  padding: 1rem;
}

li {
  padding: .5rem 0;
  margin: 0 -1rem;
}

li:first-child {
  padding-top: 0;
}

li:last-child {
  padding-bottom: 0;
}

li header {
  text-decoration: underline;
  font-weight: 300;
}
